main.weather-container{
    display: flex;
    justify-content: space-evenly;
    width: 320px;
    flex-direction: column;
    gap: 8px;
    padding: 32px 16px;
    align-items: center;
    min-height: 450px;
}

h1{
    margin-bottom: auto;
}

.form{
    margin-bottom: auto;
    padding: 16px;
    display: flex; 
    flex-direction: column; 
    gap: 12px;
    width: 90%;
}

.input-group{
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.input-group > label{
    font-weight: 700;
    font-size: 16px;
}

input{
    padding: 8px;
    border-radius: 8px;
    padding-left: 16px;
    border: 1px solid;
    border-color: rgb(109, 109, 109);
}

button{
    margin: auto;
    width: 180px;
    background-color: #001BB7;
    color: #fff;
    padding: 8px;
    border-radius: 8px;
    border: none;
    height: 32px;

}

#weather-result{
    background-color: #CCC;
    width: 80%;
    padding: 0 16px;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}