main.weather-container{
    display: flex;
    justify-content: space-evenly;
    width: 320px;
    flex-direction: column;
    gap: 8px;
    padding: 32px 16px;
    align-items: center;
    min-height: 450px;
    background-color: #FBFBFB;
    border-radius: 8px;
    margin: auto;
}

h1{
    margin-bottom: auto;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #412B6B;
}

.form{
    margin-bottom: auto;
    padding: 16px;
    display: flex; 
    flex-direction: column; 
    gap: 12px;
    width: 90%;
    color: #2A004E;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.input-group{
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.input-group > label{
    font-weight: 700;
    font-size: 16px;
}

input{
    padding: 8px;
    border-radius: 8px;
    padding-left: 16px;
    border: 1px solid;
    border-color: #C4D9FF;
}

button{
    margin: auto;
    width: 180px;
    background-color: #C5BAFF;
    color: #2A004E;
    padding: 8px;
    border-radius: 8px;
    border: none;
    height: 32px;
    font-family: Arial, Helvetica, sans-serif;

}

#weather-result{
    background-color: #E8F9FF;
    width: 80%;
    padding: 0 16px;
    display: flex;
    justify-items: center;
    align-items: center; 
    flex-direction: column;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #2A004E;

}

body{
    background-image: url('https://gifdb.com/images/high/pastel-sky-background-3garh8rnc14jym78.gif');
    background-color: beige;
    display: flex;
    height: 100vh;

}